.sensor-button-group {
  margin-top: 40px;
  display: flex;
}

.container-buttons {
  margin-right: 30px;
}

.vertical-align {
  vertical-align: sub;
}

table {
  margin-top: 20px;
}

h1 {
  text-align: center;
  margin-top: 20px;
}

@media (max-width: 600px) {
  .sensor-button-group {
    display: block;
  }

  button {
    margin-top: 30px;
  }
}
